body{
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0px;
}
.tengah{
    background-color: rgb(61, 158, 129);
    display: flex;
    height: 55px;
    padding-left: 16%;
    padding-right: 16%;
}
.logout{
    margin-left: auto;
}
a:hover{
    background-color:rgb(95, 86, 86);
    color: white;
}
.logout a{
    text-decoration: none;
    color: white;
}
.beranda a{
    text-decoration: none;
    color: white;
}
.beranda ul{
    padding-left: 0px;
}
.dropdownmenu ul{
    padding-left: 0px;
}
.sosialmedia ul{
    padding-left: 0px;
}
ul li{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: thistle;
}
ul li a:hover{
    background-color: rgb(95, 86, 86);
    color: white;
}
ul li .drop{
    display: none;

}
ul li:hover .drop{
    display: block;
    padding: 10px;
    position: absolute;
    background-color:thistle;
}
ul li:hover .drop li{
    display: block;
}
.tengahbody{
    background-color:whitesmoke;
    display: block;
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 150px;
}
.artikel{
    display: flex;
    background-color: rgb(61, 158, 129);
    border: 2px solid black;
    padding: 5px;
    border-radius: 9px;
    box-shadow: -2px 3px 2px rgba(0,0,0,0.4);
}
img{
    width: 300px;
    height: 300px;
}
.isi{
    width: 100%;
}
.judulartikel{
    padding-left: 10px;
    height: 10%;
    font-size: larger;
    font-weight: bold;
}
.deskripsiartikel{
    text-align: justify;
    height: 90%;
    padding: 0 10px 10px 10px;
    font-size: medium;
}
